*~
*.gem
.DS_Store
enclose_io_entrance.js
__enclose_io_memfs__/
enclose_io_manifest.txt
/coverage/

/vendor/node-v7.1.0/cctest.tap
/vendor/node-v7.1.0/config.gypi
/vendor/node-v7.1.0/config.mk
/vendor/node-v7.1.0/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/__init__.pyc
/vendor/node-v7.1.0/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/common.pyc
/vendor/node-v7.1.0/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/generator/__init__.pyc
/vendor/node-v7.1.0/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/generator/make.pyc
/vendor/node-v7.1.0/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/input.pyc
/vendor/node-v7.1.0/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/simple_copy.pyc
/vendor/node-v7.1.0/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/xcode_emulation.pyc
/vendor/node-v7.1.0/deps/v8_inspector/src/inspector/build/rjsmin.pyc
/vendor/node-v7.1.0/icu_config.gypi
/vendor/node-v7.1.0/node
/vendor/node-v7.1.0/out/
/vendor/node-v7.1.0/test.tap
/vendor/node-v7.1.0/test/abort/testcfg.pyc
/vendor/node-v7.1.0/test/addons/01_callbacks/
/vendor/node-v7.1.0/test/addons/02_object_factory/
/vendor/node-v7.1.0/test/addons/03_function_factory/
/vendor/node-v7.1.0/test/addons/04_wrapping_c_objects/
/vendor/node-v7.1.0/test/addons/05_factory_of_wrapped_objects/
/vendor/node-v7.1.0/test/addons/06_passing_wrapped_objects_around/
/vendor/node-v7.1.0/test/addons/07_atexit_hooks/
/vendor/node-v7.1.0/test/addons/testcfg.pyc
/vendor/node-v7.1.0/test/debugger/testcfg.pyc
/vendor/node-v7.1.0/test/doctool/testcfg.pyc
/vendor/node-v7.1.0/test/enclose-io/testcfg.pyc
/vendor/node-v7.1.0/test/gc/testcfg.pyc
/vendor/node-v7.1.0/test/inspector/testcfg.pyc
/vendor/node-v7.1.0/test/internet/testcfg.pyc
/vendor/node-v7.1.0/test/known_issues/testcfg.pyc
/vendor/node-v7.1.0/test/message/testcfg.pyc
/vendor/node-v7.1.0/test/parallel/testcfg.pyc
/vendor/node-v7.1.0/test/pseudo-tty/testcfg.pyc
/vendor/node-v7.1.0/test/pummel/testcfg.pyc
/vendor/node-v7.1.0/test/sequential/testcfg.pyc
/vendor/node-v7.1.0/test/testpy/__init__.pyc
/vendor/node-v7.1.0/test/timers/testcfg.pyc
/vendor/node-v7.1.0/tools/configure.d/nodedownload.pyc
/vendor/node-v7.1.0/tools/getmoduleversion.pyc
/vendor/node-v7.1.0/tools/test.pyc
/vendor/node-v7.1.0/tools/utils.pyc
/vendor/node-v7.1.0/test/tmp.*/
/vendor/node-v7.1.0/Release/
/vendor/node-v7.1.0/build/
/vendor/node-v7.1.0/cctest.vcxproj
/vendor/node-v7.1.0/cctest.vcxproj.filters
/vendor/node-v7.1.0/deps/gtest/Release/
/vendor/node-v7.1.0/deps/gtest/gtest.sln
/vendor/node-v7.1.0/deps/gtest/gtest.vcxproj
/vendor/node-v7.1.0/deps/gtest/gtest.vcxproj.filters
/vendor/node-v7.1.0/deps/http_parser/Release/
/vendor/node-v7.1.0/deps/openssl/Release/
/vendor/node-v7.1.0/deps/openssl/openssl-cli.vcxproj
/vendor/node-v7.1.0/deps/openssl/openssl-cli.vcxproj.filters
/vendor/node-v7.1.0/deps/openssl/openssl.sln
/vendor/node-v7.1.0/deps/openssl/openssl.vcxproj
/vendor/node-v7.1.0/deps/openssl/openssl.vcxproj.filters
/vendor/node-v7.1.0/deps/v8_inspector/src/inspector/inspector.sln
/vendor/node-v7.1.0/deps/v8_inspector/src/inspector/inspector_debugger_script.vcxproj
/vendor/node-v7.1.0/deps/v8_inspector/src/inspector/inspector_debugger_script.vcxproj.filters
/vendor/node-v7.1.0/deps/v8_inspector/src/inspector/inspector_injected_script.vcxproj
/vendor/node-v7.1.0/deps/v8_inspector/src/inspector/inspector_injected_script.vcxproj.filters
/vendor/node-v7.1.0/deps/v8_inspector/src/inspector/protocol_compatibility.vcxproj
/vendor/node-v7.1.0/deps/v8_inspector/src/inspector/protocol_compatibility.vcxproj.filters
/vendor/node-v7.1.0/deps/v8_inspector/src/inspector/protocol_generated_sources.vcxproj
/vendor/node-v7.1.0/deps/v8_inspector/src/inspector/protocol_generated_sources.vcxproj.filters
/vendor/node-v7.1.0/deps/v8_inspector/src/inspector/standalone_inspector.vcxproj
/vendor/node-v7.1.0/deps/v8_inspector/src/inspector/standalone_inspector.vcxproj.filters
/vendor/node-v7.1.0/deps/zlib/Release/
/vendor/node-v7.1.0/deps/zlib/zlib.sln
/vendor/node-v7.1.0/deps/zlib/zlib.vcxproj
/vendor/node-v7.1.0/mkssldef.vcxproj
/vendor/node-v7.1.0/mkssldef.vcxproj.filters
/vendor/node-v7.1.0/node.sln
/vendor/node-v7.1.0/node.vcxproj
/vendor/node-v7.1.0/node.vcxproj.filters
/vendor/node-v7.1.0/node_dtrace_header.vcxproj
/vendor/node-v7.1.0/node_dtrace_provider.vcxproj
/vendor/node-v7.1.0/node_dtrace_ustack.vcxproj
/vendor/node-v7.1.0/node_etw.vcxproj
/vendor/node-v7.1.0/node_etw.vcxproj.filters
/vendor/node-v7.1.0/node_js2c.vcxproj
/vendor/node-v7.1.0/node_js2c.vcxproj.filters
/vendor/node-v7.1.0/node_perfctr.vcxproj
/vendor/node-v7.1.0/node_perfctr.vcxproj.filters
/vendor/node-v7.1.0/specialize_node_d.vcxproj
/vendor/node-v7.1.0/tools/icu/Release/
/vendor/node-v7.1.0/tools/icu/genccode.vcxproj
/vendor/node-v7.1.0/tools/icu/genccode.vcxproj.filters
/vendor/node-v7.1.0/tools/icu/genrb.vcxproj
/vendor/node-v7.1.0/tools/icu/genrb.vcxproj.filters
/vendor/node-v7.1.0/tools/icu/icu-generic.sln
/vendor/node-v7.1.0/tools/icu/icu_implementation.vcxproj
/vendor/node-v7.1.0/tools/icu/icu_uconfig.vcxproj
/vendor/node-v7.1.0/tools/icu/icu_uconfig_target.vcxproj
/vendor/node-v7.1.0/tools/icu/icudata.vcxproj
/vendor/node-v7.1.0/tools/icu/icudata.vcxproj.filters
/vendor/node-v7.1.0/tools/icu/icui18n.vcxproj
/vendor/node-v7.1.0/tools/icu/icui18n.vcxproj.filters
/vendor/node-v7.1.0/tools/icu/iculslocs.vcxproj
/vendor/node-v7.1.0/tools/icu/icupkg.vcxproj
/vendor/node-v7.1.0/tools/icu/icupkg.vcxproj.filters
/vendor/node-v7.1.0/tools/icu/icustubdata.vcxproj
/vendor/node-v7.1.0/tools/icu/icustubdata.vcxproj.filters
/vendor/node-v7.1.0/tools/icu/icutools.vcxproj
/vendor/node-v7.1.0/tools/icu/icutools.vcxproj.filters
/vendor/node-v7.1.0/tools/icu/icuuc.vcxproj
/vendor/node-v7.1.0/tools/icu/icuucx.vcxproj
/vendor/node-v7.1.0/tools/icu/icuucx.vcxproj.filters
/vendor/node-v7.1.0/tools/msvs/genfiles/
/vendor/node-v7.1.0/v8_inspector_compress_protocol_json.vcxproj
/vendor/node-v7.1.0/v8_inspector_compress_protocol_json.vcxproj.filters

/vendor/node-v6.9.1/cctest.tap
/vendor/node-v6.9.1/config.gypi
/vendor/node-v6.9.1/config.mk
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/MSVSUtil.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/MSVSVersion.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/__init__.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/common.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/generator/__init__.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/generator/make.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/generator/ninja.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/generator/xcode.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/input.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/msvs_emulation.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/ninja_syntax.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/simple_copy.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/xcode_emulation.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/xcode_ninja.pyc
/vendor/node-v6.9.1/deps/npm/node_modules/node-gyp/gyp/pylib/gyp/xcodeproj_file.pyc
/vendor/node-v6.9.1/deps/v8_inspector/third_party/v8_inspector/platform/v8_inspector/build/rjsmin.pyc
/vendor/node-v6.9.1/icu_config.gypi
/vendor/node-v6.9.1/node
/vendor/node-v6.9.1/out/
/vendor/node-v6.9.1/test.tap
/vendor/node-v6.9.1/test/abort/testcfg.pyc
/vendor/node-v6.9.1/test/addons/01_callbacks/
/vendor/node-v6.9.1/test/addons/02_object_factory/
/vendor/node-v6.9.1/test/addons/03_function_factory/
/vendor/node-v6.9.1/test/addons/04_wrapping_c_objects/
/vendor/node-v6.9.1/test/addons/05_factory_of_wrapped_objects/
/vendor/node-v6.9.1/test/addons/06_passing_wrapped_objects_around/
/vendor/node-v6.9.1/test/addons/07_atexit_hooks/
/vendor/node-v6.9.1/test/addons/testcfg.pyc
/vendor/node-v6.9.1/test/debugger/testcfg.pyc
/vendor/node-v6.9.1/test/doctool/testcfg.pyc
/vendor/node-v6.9.1/test/enclose-io/testcfg.pyc
/vendor/node-v6.9.1/test/gc/testcfg.pyc
/vendor/node-v6.9.1/test/inspector/testcfg.pyc
/vendor/node-v6.9.1/test/internet/testcfg.pyc
/vendor/node-v6.9.1/test/known_issues/testcfg.pyc
/vendor/node-v6.9.1/test/message/testcfg.pyc
/vendor/node-v6.9.1/test/parallel/testcfg.pyc
/vendor/node-v6.9.1/test/pseudo-tty/testcfg.pyc
/vendor/node-v6.9.1/test/pummel/testcfg.pyc
/vendor/node-v6.9.1/test/sequential/testcfg.pyc
/vendor/node-v6.9.1/test/testpy/__init__.pyc
/vendor/node-v6.9.1/test/timers/testcfg.pyc
/vendor/node-v6.9.1/tools/configure.d/nodedownload.pyc
/vendor/node-v6.9.1/tools/getmoduleversion.pyc
/vendor/node-v6.9.1/tools/test.pyc
/vendor/node-v6.9.1/tools/utils.pyc

/vendor/node-v6.9.1/tools/gyp/pylib/gyp/MSVSUtil.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/MSVSVersion.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/__init__.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/common.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/generator/__init__.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/generator/make.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/generator/ninja.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/generator/xcode.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/input.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/msvs_emulation.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/ninja_syntax.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/simple_copy.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/xcode_emulation.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/xcode_ninja.pyc
/vendor/node-v6.9.1/tools/gyp/pylib/gyp/xcodeproj_file.pyc
