[submodule "tests/node-compiler-blbt"]
	path = tests/node-compiler-blbt
	url = https://github.com/pmq20/node-compiler-blbt.git
[submodule "tests/node-compiler-ram"]
	path = tests/node-compiler-ram
	url = https://github.com/pmq20/node-compiler-ram.git
[submodule "tests/node-compiler-appveyor2"]
	path = tests/node-compiler-appveyor2
	url = https://github.com/pmq20/node-compiler-appveyor2.git
